.searchBar {
    border-radius: 5px;
    box-shadow: 0 1px 3px #00000014, 0 2px 1px #435e8326;
    box-sizing: border-box;
    transition: background-color .3s, color .3s, transform .3s;
}

.tp-course-details2-widget {
    top: 100px !important;
    margin-top: -380px !important;
    position: sticky;
    max-width: 400px;
    z-index: 25 !important;
}

