@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';
@import 'additional-styles/custom.css';

/* Keenicons */
/* We're loading the keenicons CSS directly through a style tag in the layout */
@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

.industry-nav{
    padding: 8px;
    border-radius: 4px;
}
.industry-nav:hover{
    background-color: #232C66 !important;
}
/* Add this class to any <li> that needs the separator */
.separator::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background-color: #cbd5e1;
  }

 @media screen and (min-width: 1024px) {
    .max-w-75{
        max-width: 70%;
    }
 }
 @media screen and (min-width: 1308px) {
    .max-w-75{
        max-width: 65%;
    }
 }
  .separator-dark::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background-color: #e7e7e7;
  }

  .max-w-80-per{
    max-width: 68%  !important;
  }

 @media screen and (max-width: 575px) {
  .max-w-80-per{
    max-width: 100%   !important;
  }
 }
 /* Apply 'Tajawal'  ki-outline to body and its descendants, excluding .ki-duotone and its descendants */
/* 1. Apply 'Tajawal' to all elements within RTL, excluding specific classes and their descendants */
/* 1. Apply 'Tajawal' to all elements within RTL, excluding specific classes and their descendants */
html[dir="rtl"] *:not(.ki-duotone):not(.ki-duotone *):not(.ki-outline):not(.ki-outline *):not(.ki-solid):not(.ki-solid *):not(.fa-classic):not(.fa-classic *):not(.fa-regular):not(.fa-regular *):not(.fa-solid):not(.fa-solid *):not(.far):not(.far *):not(.fas):not(.fas *):not(.pi):not(.pi *) {
  font-family: 'Tajawal', sans-serif !important;
}

/* 2. Assign 'keenicons-duotone' to .ki-duotone and its descendants */
html[dir="rtl"] .ki-duotone,
html[dir="rtl"] .ki-duotone * {
  font-family: 'keenicons-duotone' !important;
}

/* 3. Assign 'keenicons-outline' to .ki-outline and its descendants */
html[dir="rtl"] .ki-outline,
html[dir="rtl"] .ki-outline * {
  font-family: 'keenicons-outline' !important;
}

/* 4. Assign 'keenicons-solid' to .ki-solid and its descendants */
html[dir="rtl"] .ki-solid,
html[dir="rtl"] .ki-solid * {
  font-family: 'keenicons-solid' !important;
}

/* 5. Assign 'Font Awesome 6 Free' to Font Awesome classes and their descendants */
html[dir="rtl"] .fa-classic,
html[dir="rtl"] .fa-classic *,
html[dir="rtl"] .fa-regular,
html[dir="rtl"] .fa-regular *,
html[dir="rtl"] .fa-solid,
html[dir="rtl"] .fa-solid *,
html[dir="rtl"] .far,
html[dir="rtl"] .far *,
html[dir="rtl"] .fas,
html[dir="rtl"] .fas * {
  font-family: "Font Awesome 6 Free" !important;
}

.focus-outline-none{
outline: none !important;
} 
.focus-outline-none:focus{
outline: none !important;
}

.avatar-top-position img {
  object-position: top !important;
}

/* El Messiri font for knowledge titles */
.el-messiri-knowledge-title {
  font-family: "El Messiri", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.amiri-regular {
  font-family: "Amiri", serif !important;
  font-weight: 400;
  font-style: normal;
}

.amiri-bold {
  font-family: "Amiri", serif !important;
  font-weight: 700;
  font-style: normal;
}

.amiri-regular-italic {
  font-family: "Amiri", serif !important;
  font-weight: 400;
  font-style: italic;
}

.amiri-bold-italic {
  font-family: "Amiri", serif !important;
  font-weight: 700;
  font-style: italic;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td,
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border: 1px solid #e5e7eb !important; /* نفس لون الخطوط بالصورة */
}

.p-datatable .p-datatable-tbody > tr {
  border-bottom: 1px solid #e5e7eb !important;
}
