.summaryCarousel :global(.swiper-wrapper) {
  align-items: stretch;
}

.summaryCarousel :global(.swiper-slide) {
  height: auto;
  display: flex;
}

.summaryCarousel :global(.swiper-slide) > * {
  width: 100%;
  height: 100%;
  min-height: var(--card-min-height, 390px);
}

.cardInner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.cardBody {
  flex: 1;
  min-height: 0;
}

.cardFooter {
  flex-shrink: 0;
}

