.card {
  background-color: white;
  transition: transform .3s, box-shadow .3s, border-color .3s;
  cursor: pointer;
  border: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  overflow: hidden;
  border-radius: 4px;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(51, 154, 240, 0.15);
  border-color: rgba(51, 154, 240, 0.4);
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  transition: color 0.2s ease;
  font-size: 1.3rem;
  color: white;
  margin-bottom: 0.5rem;
  
}

.card:hover .title {
  color: var(--mantine-color-blue-2);
}

.footer {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-gray-2);
  transition: border-color 0.2s ease;
}

.card:hover .footer {
  border-color: rgba(51, 154, 240, 0.3);
}
.description {
  font-size: 0.875rem;
  display: block;
  margin-bottom: 1rem;
}

.typeBadge {
  display: flex;
  align-items: center;
  background-color: #228BE6 !important;
  color: white;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 5px 10px;
}

.priceBadge {
  font-weight: 800;
}

.actionButton {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}



.avatar {
  border: 1px solid #228BE6;
}

.avatar img {
  object-fit: cover;
  object-position: top;
}

.darkSection {
  background-color: #111;
  background-image: url(/images/test2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 20px;
  color: white;
  min-height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.whiteSection {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
