.tp-course-details2-widget {
    top: 180px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgba(3, 31, 66, 0.05);
    margin-top: -300px;
    position: sticky;
    border: 1px solid #DFDFDF;
    z-index: 1;
}

@media (max-width: 991px) {
    .tp-course-details2-widget {
        position: relative;
        top: 0;
        margin-top: 0;
        box-shadow: none;
    }
}

.tp-course-details2-widget-list-item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(3, 31, 66, 0.1);
}

.tp-course-details2-widget-list-item span {
    font-size: 13px;
    font-weight: 500;
    color: #4f5158;
}

.tp-course-details2-widget-list-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tp-course-details2-widget-list-item span:first-child {
    display: flex;
    align-items: center;
}

.tp-course-details2-widget-list-item span:first-child i {
    color: #4f5158;
}

.tp-course-details2-widget-content {
    padding: 30px 10px;
}
